@import "./reset";
@import "./variables";

html {
    font-family: $main-font;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: $main-background;
    min-height: 100vh;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
}

main {
    width: min(90%, 110rem);
    background-color: $card-background;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        flex-direction: row;
    }
}

.imageContainer {
    background-color: $accent;
    order: 1;
    @media (min-width: $tablet) {
        width: 50%;
        order: 2;
    }
}

.bannerImage {
    mix-blend-mode: multiply;
    opacity: 0.8;
    width: 100%;
}

.details {
    order: 2;
    padding: 2rem 3rem;
    text-align: center;
    @media (min-width: $tablet) {
        width: 50%;
        order: 1;
        padding: 5rem;
        text-align: left;
    }
}

.title {
    font-size: 3rem;
    color: $white;
    @media (min-width: $tablet) {
        font-size: 3.5rem;
    }
}

.title span {
    color: $accent;
}

.description {
    margin: 1rem 0;
    font-size: 1.6rem;
    @media (min-width: $tablet) {
        margin: 2rem 0;
        font-size: 1.8rem;
    }
}

ul {
    font-family: $main-font;
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 2rem;
    @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: flex-start;
        gap: 6rem;
        margin-top: 6rem;
    }
}

.count {
    color: $white;
    font-weight: 700;
    font-size: 2.4rem;
}

.data {
    font-family: $sub-font;
    text-transform: uppercase;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
